.colored-block {
    width: 200px;
    height: 200px;
}

.blocks-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: min-content;
    margin: 0 auto;
    margin-top: 10px;
}