* {
    margin: 0;
    padding: 0;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.tries-counter {
    font-size: 48px;
    /* text-align: center; */
    align-content: center;   
}

.success-counter {
    font-size: 48px;
    /* text-align: center; */
    align-content: center;   
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: min-content;
    margin: 0 auto;
    /* margin-top: 20px; */
    list-style-type: none;
}

.CardElement {
    width: 140px;
    height: 200px;
}

.game-over {
    font-size: 48px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* height: 100vh; */
}

.cards-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.hidden {
    display: none;
}

.restart-button {
    background-color: #000;
    font-size: 36px;
    padding: 12px;
    color: #fff;
}