body {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.auth-form {
    display: block;
    padding: 1em;
    
}

.input-container {
    margin-bottom: 1em;
} 
