:root {
    --max-page-width: 920px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main__landing {
    max-width: var(--max-page-width);
    margin: 0 auto;
}

header,
menu,
nav {
    margin: 0 auto;
    display: flex;
    max-width: var(--max-page-width);
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
}

header {
    margin-top: 40px;
}

.phone {
    padding-right: 25px;
}

.footer {
    margin: 0 auto;
    align-content: center;
    max-width: var(--max-page-width);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
}

.warehouses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%; */
}

.warehouse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
}

.warehouse:hover {
    box-shadow: 0 0 10px 1px black;
}

.warehouse:nth-child(1) {
    background-color: hsl(60, 80%, 95%);
}

.warehouse:nth-child(2) {
    background-color: hsl(120, 80%, 85%);
}

.warehouse:nth-child(3) {
    background-color: hsl(180, 80%, 95%);
}

.warehouse:nth-child(4) {
    background-color: hsl(240, 80%, 95%);
}

.warehouse:nth-child(5) {
    background-color: hsl(300, 80%, 95%);
}

.nav__list li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.nav__list a {
    border-bottom: 1px dashed rgba(0, 114, 188, 0.2);
    text-decoration: none;
}

.header {
    display: inline-block;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 160px;
    border-top: 1px dashed gold;
    border-bottom: 1px dashed gold;
}

.intro span {
    max-width: 33%;
    margin: auto 0;
}

.intro-number {
    display: block;
    font: 190px/196px "Puchkomdigits", "Trebuchet MS", Helvetica, sans-serif;
    /* position: absolute; */
    top: 20;
    left: -20;
    width: 160px;
    height: 160px;
    background-color: rgb(176, 255, 169);
    border-radius: 50%;
    box-shadow: 0 0 0 10px #fff;
    font-size: 85px;
}

.big-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}

.big-picture ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: small;
    gap: 1vh;
}

/* 
.big-picture li {
    
    width: 30%;
} */

.small-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 2vh;
    /* gap: 10vh;    */
}

.small-picture li {
    width: 20%;


}




@media (min-width: 768px) and (max-width: 1024px) {
    .header, .footer, .main__landing {
    padding-left: 25px;
    padding-right: 25px;
    }
    .warehouse {
        min-width: 45%;
    }

}
    

@media (max-width: 767px) {
    .header, .footer, .main__landing {
    padding-left: 25px;
    padding-right: 25px;
    }
        .warehouse {
        min-width: 100%;
    }

    .small-picture {
        width: 100%;
    }

    .small-picture li {
    width: auto;
}
    
}