:root {
    --max-page-width: 920px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main__landing {
    max-width: var(--max-page-width);
    margin: 0 auto;
}

header,
footer,
menu,
nav {
    margin: 0 auto;
    display: flex;
    max-width: var(--max-page-width);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.warehouses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%; */
}

.warehouse {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    padding: 10px;
    width: 30%;
}

.warehouse:nth-child(1) {
    background-color: hsl(60, 80%, 95%);
}

.warehouse:nth-child(2) {
    background-color: hsl(120, 80%, 85%);
}

.warehouse:nth-child(3) {
    background-color: hsl(180, 80%, 95%);
}

.warehouse:nth-child(4) {
    background-color: hsl(240, 80%, 95%);
}

.warehouse:nth-child(5) {
    background-color: hsl(300, 80%, 95%);
}

.nav__list li {
    display: inline-block;
    list-style: none;
}

.header {
    display: inline-block;
}

.intro {
    height: 100px;
    border-top: 1px dashed gold;
    border-bottom: 1px dashed gold;
}

.intro-number {
    position: absolute;
    background-color: aqua;
    border-radius: 50%;
    box-shadow:inset;
    
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 425px) {}