* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;

}

.image-container {
    position: absolute;

    width: fit-content;
}

.dvd-image {
    object-fit: fill;
    width: auto;
    height: 160px;
}