.carousel {
    display: flex;
    list-style-type: none;
    /* flex-direction: row; */
    gap: 5px;
    position:relative;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* width: 25%; */
}

.left-button {
    position:absolute;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
}

.right-button {
    position:fixed;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
}