.carousel {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 5px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90%;
    transition: left 1s ease-in;
    
}

.left-button {
    position:absolute;
    width: 5%;
    height: 5%;
    border: 2px solid black;
    border-radius: 50%;
}

.right-button {
    position:fixed;
    width: 5%;
    height: 5%;
    border: 2px solid black;
    border-radius: 50%;
}