* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 200px;
    padding: 30px;
    border: 3px solid blue;
    background-color: lightgray;
}

.box2 {
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 50px 30px 50px 30px;
    border: 4px dashed darkblue;
    background-color: lightblue;
    text-align: center;
}

.box3 {
    width: 600px;
    height: 400px;
    padding: 10px;
    /* margin: 50px 30px 50px 30px; */
    border: 3px solid #000;
    background-color: lightgray;
    text-align: center;
}

.box3 .image-container  {
    width: 100%;
    height: 80%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

